.App {
  color: #555;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.heading {
  text-align: left;
  padding: 16px 0px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.btn-one {
  border: 2px solid #fff !important;
  color: #fff !important;
  padding: 8px 24px !important;
  border-radius: 50px !important; 
  transition: 0.5s;
}

.btn-one:hover {
  color: #000 !important;
  background-color: #fff !important;
  border-radius: 50px !important;
  transition: 0.5s;
}

.contact-form-textfield {
  margin-bottom: 16px !important;
}
